<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido todos a <%= title %></p>
    <br>
    <p>Web Access Points:</p>
    <ul>
    	<li><a href="/users">/users</a></li>
    	<li><a href="/users/registry">/users/registry</a></li>
    </ul>
    <br>
    <img src="images/yeah.jpg" width=512>
  </body>
</html>
