<!DOCTYPE html>
<html>
<head>
	<title>Registry</title>
</head>
<body>
	<h2>New User:</h2>
	<form method="post" action="/users/registry">
		<input type="text" name="name" id="name">
		<input type="submit" name="submit">
	</form>
</body>
</html>